/*

两个元素并排，没有其它修饰，比如 div p 表示选择div下所有的p，不管p处于哪一个层级，只要在div下就生效
两个元素并排，有>修饰，比如 div > p 表示选择div下第一个p层级，只影响div下第一层p

上面两种描述适用于.#的类和ID选择符
比如:
li.pagination-item > a 表示选取class为pagination的所有li下的第一个层级的a
.content label 表示选择class为content下所有label，不分层级

多个选择器如果有相同的样式使用,即可，比如:
.content input, .content textarea { margin-bottom: 1em; }
表示.content input这个选择器和.content textarea这个选择器有相同的样式

*/

html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white; }
h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }

/* 查看blog界面隐藏pagedown的编辑 */
.hidden .flask-pagedown .flask-pagedown-input { display: none; }

/* 点赞按钮 */
.star { text-align: right; color: blue; }


/* 分页组件 */
ul.pagination {
    list-style-type: none;
    /* float: right; */
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

ul.pagination select {
    /* background-color: red; */
    display: inline;
    padding: 0;
    margin: 0;
    font-size: smaller;
}

li.pagination-item {
    /* float: left; */
    /* display: block; */
    padding: 0px 2px;
    font-size: smaller;
}

li.pagination-item > a {
    text-decoration: none;
}

li.pagination-item > a:hover {
    color: red;
}